body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas{
  touch-action: none;
}

#pentypes {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 1;
}

#resetbutton {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 1;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ff5781;
  background-color: #ff8fab;
  cursor: pointer;
  color: black;
}

button:hover {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ff8fab;
  background-color: #ffb8c9;
}

.active {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ff8fab;
  background-color: #ffb8c9;
}

#credit{
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: #505889;
  z-index: 1;
}

#link{
  color: #505889;
}